<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head"></div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      <div class="text-center"
        style="font-size:12px;color:#777;margin: 0 50px; padding: 32px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd;">
        <!-- <div class="mb-md">Copyright <i class="anticon anticon-copyright"></i> {{settings.app.year}} <span
            class="ml-md">版权所有：{{settings.app.copy}}</span> </div>
        <div class="mb-md">技术支持：{{settings.app.support}}</div> -->
        <div>推荐使用谷歌浏览器、火狐浏览器, 360、QQ、搜狗等浏览器极速模式</div>
      </div>
    </global-footer>
  </div>
</div>
