<div class="list_warp" *ngIf="!showAddPage && !showDetailPage">
  <nz-page-header [nzSubtitle]="nzSubtitle"> </nz-page-header>
  <button nz-button nzType="primary" nzSize="small" (click)="add()"><i nz-icon nzType="plus"
      nzTheme="outline"></i>新建</button>

  <nz-tabset [(nzSelectedIndex)]="currentTab" (nzSelectChange)="changeTab()">
    <nz-tab nzTitle="待处理业务">
      <ng-container *ngIf="currentTab == 0">
        <app-pending (showDetailPageEmitter)="showDetailPageEmitter($event)"></app-pending>
      </ng-container>
    </nz-tab>
    <nz-tab nzTitle="处理中业务">
      <ng-container *ngIf="currentTab == 1">
        <app-processing (showDetailPageEmitter)="showDetailPageEmitter($event)"></app-processing>
      </ng-container>
    </nz-tab>
    <nz-tab nzTitle="全部业务">
      <ng-container *ngIf="currentTab == 2">
        <app-all-task (showDetailPageEmitter)="showDetailPageEmitter($event)"></app-all-task>
      </ng-container>
    </nz-tab>
  </nz-tabset>

</div>
<ng-template #nzSubtitle>
  <nz-breadcrumb nzSeparator=">">
    <span class="CPosition">当前位置 :</span>
    <nz-breadcrumb-item>
      异常任务
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      列表查询
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<!-- 新增 -->
<div class="page_warp" *ngIf="showAddPage">
  <nz-page-header (nzBack)="showAddPage=false" nzBackIcon [nzSubtitle]="nzSubtitleAdd"> </nz-page-header>
  <nz-card>
    <form nz-form [formGroup]="addDataForm" role="form">
      <nz-row>
        <nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzXXl="2" nzXl="3" nzLg="4">站点名称</nz-form-label>
            <nz-form-control nzXXl="19" nzXl="18" nzLg="17" nzErrorTip="请选择">
              <nz-select style="width: 400px" formControlName="stationId" nzAllowClear nzPlaceHolder="请选择">
                <nz-option *ngFor="let item of stationList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzXXl="2" nzXl="3" nzLg="4">异常现象</nz-form-label>
            <nz-form-control nzXXl="19" nzXl="18" nzLg="17" nzErrorTip="请输入">
              <textarea style="width: 400px" nz-input placeholder="请输入" formControlName="content"></textarea>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzXXl="2" nzXl="3" nzLg="4">现象发生时间</nz-form-label>
            <nz-form-control nzXXl="19" nzXl="18" nzLg="17" nzErrorTip="请选择">
              <nz-date-picker nzShowTime class="dateWidth" style="width:400px;" formControlName="gmt_happen"
                nzPlaceHolder="请选择">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzXXl="2" nzXl="3" nzLg="4">任务截止时间</nz-form-label>
            <nz-form-control nzXXl="19" nzXl="18" nzLg="17" nzErrorTip="请选择">
              <nz-date-picker nzShowTime class="dateWidth" style="width:400px;" formControlName="deadline"
                nzPlaceHolder="请选择">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzXXl="2" nzXl="3" nzLg="4">提醒</nz-form-label>
            <nz-form-control nzXXl="19" nzXl="18" nzLg="17" nzErrorTip="请选择">
              <nz-select style="width: 400px" formControlName="remind" nzAllowClear nzPlaceHolder="请选择">
                <nz-option *ngFor="let item of remindList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzXXl="2" nzXl="3" nzLg="4">上传图片</nz-form-label>
            <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
              <nz-upload nzListType="picture-card" [nzCustomRequest]="fileUpload" [(nzFileList)]="fileList">
                <i nz-icon nzType="plus"></i>
                <div class="ant-upload-text">上传</div>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </form>
    <div>
      <nz-row>
        <nz-col nzXXl="2" nzXl="3" nzLg="4">
        </nz-col>
        <nz-col nzXXl="19" nzXl="18" nzLg="17">
          <button nz-button nzType="primary" [nzLoading]="btnLoading" (click)="saveNewData()">保存</button>
        </nz-col>
      </nz-row>
    </div>
  </nz-card>
</div>
<!-- 详情 -->
<div class="page_warp" *ngIf="showDetailPage">
  <nz-page-header (nzBack)="showDetailPage=false" nzBackIcon [nzSubtitle]="nzSubtitleDetail"> </nz-page-header>
  <nz-card nzTitle="基本信息">
    <nz-row>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">站点名称</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.station}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">所属区域</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{(detailData.region ? detailData.region : '') + (detailData.city ? detailData.city : '')}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">任务来源</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.creator ? detailData.creator.nickname : '系统'}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">异常创建时间</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.gmt_create | date:'yyyy-MM-dd HH:mm'}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">异常发生时间</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.gmt_happen | date:'yyyy-MM-dd HH:mm'}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">任务截止时间</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.deadline | date:'yyyy-MM-dd HH:mm'}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">任务完成时间</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.gmt_solved | date:'yyyy-MM-dd HH:mm'}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">处理用时</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            <ng-container *ngIf="detailData.gmt_solved">
              {{detailData.timeUsage}}
            </ng-container>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">处理超时</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            <ng-container *ngIf="!detailData.inTime">
              {{detailData.timeLeft}}
            </ng-container>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-row>
        <nz-col nzSpan="24">
          <p>异常现象：{{detailData.content}}</p>
        </nz-col>
        <nz-col nzSpan="24">
          <div class="imgWarp">
            <img *ngFor="let item of detailData.picturesContentPreview" (click)="bigImg(item.url)" [src]="item.url">
          </div>
        </nz-col>
      </nz-row>
    </nz-row>
  </nz-card>
  <nz-card nzTitle="处理过程">
    <nz-row>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">站点负责人</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.stationAdministrator?.nickname}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">运维人员</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.executor?.nickname}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">转交</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            {{detailData.hadBeenTransfer ? '是': '否'}}
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">异常状态</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            <span *ngIf="detailData.state == 1">待处理</span>
            <span *ngIf="detailData.state == 2">处理中</span>
            <span *ngIf="detailData.state == 3">已修复</span>
            <span *ngIf="detailData.state == 4">非异常</span>
            <span *ngIf="detailData.state == 5">已关闭</span>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">异常单元</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            <span *ngFor="let item of detailData.instrumentVOList">{{item.name}}</span>
            <span *ngFor="let item of detailData.errorUnitVOList">{{item.label}}</span>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzXXl="5" nzXl="6" nzLg="7">提交位置</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="18" nzLg="17">
            <ng-container *ngIf="detailData.state != 1">
              {{detailData.hadArrivedStation ? '站点提交': '离站提交'}}
            </ng-container>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <p>异常原因：{{detailData.reason}}</p>
      <p>处理过程：{{detailData.solution}}</p>
      <p>备注：{{detailData.description}}</p>
      <p>处理前照片：</p>
      <div class="imgWarp">
        <img *ngFor="let item of detailData.picturesBeforePreview" (click)="bigImg(item.url)" [src]="item.url">
      </div>
      <p class="topSpace">处理中照片：</p>
      <div class="imgWarp">
        <img *ngFor="let item of detailData.picturesProcessingPreview" (click)="bigImg(item.url)" [src]="item.url">
      </div>
      <p class="topSpace">处理后照片：</p>
      <div class="imgWarp">
        <img *ngFor="let item of detailData.picturesAfterPreview" (click)="bigImg(item.url)" [src]="item.url">
      </div>
      <p class="topSpace">站房卫生照片：</p>
      <div class="imgWarp">
        <img *ngFor="let item of detailData.picturesCleaningPreview" (click)="bigImg(item.url)" [src]="item.url">
      </div>
      <p class="topSpace">取水口照片：</p>
      <div class="imgWarp">
        <img *ngFor="let item of detailData.picturesWaterIntakePreview" (click)="bigImg(item.url)" [src]="item.url">
      </div>
      <p class="topSpace">运维记录照片：</p>
      <div class="imgWarp">
        <img *ngFor="let item of detailData.picturesOpsRecordPreview" (click)="bigImg(item.url)" [src]="item.url">
      </div>
    </nz-row>
  </nz-card>
  <nz-card nzTitle="操作日志">
    <p *ngFor="let item of processList">
      <span>{{item.gmt_create | date: 'yyyy-MM-dd HH:mm'}}</span>&nbsp;&nbsp;
      <span>{{item.user?.nickname}}</span>
      <span>{{item.content}}</span>
    </p>
  </nz-card>
  <nz-card nzTitle="评论">
    <p *ngFor="let item of commentList">
      <span>{{item.gmt_create | date: 'yyyy-MM-dd HH:mm'}}</span>&nbsp;&nbsp;
      <span>{{item.userCreator?.nickname}}</span>
      <span>{{item.content}}</span>
    </p>
  </nz-card>
</div>


<ng-template #nzSubtitleAdd>
  <nz-breadcrumb nzSeparator=">">
    <span class="CPosition">当前位置 :</span>
    <nz-breadcrumb-item>
      异常任务
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      列表查询
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      新增
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
<ng-template #nzSubtitleDetail>
  <nz-breadcrumb nzSeparator=">">
    <span class="CPosition">当前位置 :</span>
    <nz-breadcrumb-item>
      异常任务
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      列表查询
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      详情
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>