<div class="page_warp">
  <nz-page-header [nzSubtitle]="nzSubtitle"> </nz-page-header>
  <nz-card>
    <div class="user_btns">
      <span>用户名称：</span>
      <input class="itemSpace" nz-input style="width:180px;" placeholder="请输入用户名称" [(ngModel)]="searchQuery.keyword" />
      <button nz-button nzType="primary" (click)="refresh()">查询</button>
      <button nz-button nzType="primary" (click)="add()" *ngIf="userInfo.dataManager || userInfo.manager">添加</button>
    </div>
    <nz-table class="table_warp" #basicTable [nzPageSize]="20" [nzData]="tableData" [nzLoading]="loading"
      [nzShowSizeChanger]="true">
      <thead>
        <tr style="position: relative;" appTableScroll>
          <th class="user_td" nzWidth="10%">用户</th>
          <th nzWidth="8%">手机号</th>
          <th nzWidth="6%">允许登陆</th>
          <!-- <th nzWidth="7%">部门</th> -->
          <th nzShowFilter [nzFilters]="filterItem" (nzFilterChange)="updateManage($event)" nzWidth="8%">高级账户</th>
          <th nzShowFilter [nzFilters]="filterItem" (nzFilterChange)="updateOps($event)" nzWidth="8%">运维人员</th>
          <th nzWidth="7%">省级运维管理</th>
          <th nzWidth="7%">市级运维管理</th>
          <th nzWidth="7%">地区运维管理</th>
          <th nzWidth="7%">项目运维管理</th>
          <th nzShowFilter [nzFilters]="filterItem" (nzFilterChange)="updateDataManager($event)" nzWidth="8%">数据管理</th>
          <th *ngIf="userInfo.dataManager || userInfo.manager">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="user_td">
            <img class="avatar" [src]="data.avatar">
            &nbsp;{{data.nickname}}
          </td>
          <td>{{data.mobile}}</td>
          <td>
            <!-- <nz-switch [nzControl]="true" (click)="changeLogin(data.id)" [ngModel]="data.active" nzCheckedChildren="开"
              nzUnCheckedChildren="关"></nz-switch> -->
            <img class="switchIcon" (click)="changeLogin(data.id)" *ngIf="!data.active"
              src="../../../../assets/tmp/img/switchIcon.png">
            <img class="switchIcon" (click)="changeLogin(data.id)" *ngIf="data.active"
              src="../../../../assets/tmp/img/switchIcon1.png">
          </td>
          <!-- <td>{{data.dept}}</td> -->
          <td>{{data.manager ? '是' : '否'}}</td>
          <td>{{data.ops ? '是' : '否'}}</td>
          <td>{{data.opsRegionManager ? '是' : '否'}}</td>
          <td>{{data.opsCityManager ? '是' : '否'}}</td>
          <td>{{data.opsAreaManager ? '是' : '否'}}</td>
          <td>{{data.projectManager ? '是' : '否'}}</td>
          <td>{{data.dataManager ? '是' : '否'}}</td>
          <td *ngIf="userInfo.dataManager || userInfo.manager">
            <a (click)="modifyData(data.id)">修改</a>
            <span class="divider"></span>
            <a (click)="resetPwd(data.id)">重置密码</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>

<!-- 新增数据 -->
<nz-modal nzMask="false" nzWidth="800px" [(nzVisible)]="newDataModal" nzTitle="新增" [nzOkLoading]="isOkLoading"
  (nzOnCancel)="newDataModal=false" (nzOnOk)="handleData(1)">
  <form *ngIf="newDataModal" nz-form [formGroup]="addDataForm" (ngSubmit)="handleData(1)" role="form">
    <nz-row>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="6">用户账户</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="username" placeholder="请输入用户账户">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm('username').dirty && validateForm('username').hasError('required')">
              请输入用户账户</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="6">用户昵称</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="nickname" placeholder="请输入用户昵称">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm('nickname').dirty && validateForm('nickname').hasError('required')">
              请输入用户昵称</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6">手机号码</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="mobile" placeholder="请输入手机号">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm('mobile').dirty && validateForm('mobile').hasError('required')">请输入手机号
            </nz-form-explain>
            <nz-form-explain *ngIf="validateForm('mobile').dirty && validateForm('mobile').hasError('pattern')">手机号格式不正确
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <!-- <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6">部门</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-cascader nzSize="large" [nzOptions]="meatData.deps" formControlName="deptKey" nzPlaceHolder="请选择部门">
            </nz-cascader>
            <nz-form-explain *ngIf="validateForm('deptKey').dirty && validateForm('deptKey').hasError('required')">请选择部门
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col> -->
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="6">职位</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="title" placeholder="请输入职位">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm('title').dirty && validateForm('title').hasError('required')">
              请输入职位</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6">企业微信号</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="wxUserId" placeholder="请输入企业微信号">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm('wxUserId').dirty && validateForm('wxUserId').hasError('required')">
              请输入企业微信号</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="3">角色</nz-form-label>
          <nz-form-control [nzSm]="21">
            <label nz-checkbox formControlName="manager">高级账户</label>
            <label nz-checkbox formControlName="ops">运维人员</label>
            <label nz-checkbox formControlName="opsRegionManager">省级运维管理</label>
            <label nz-checkbox formControlName="opsCityManager">市级运维管理</label>
            <label nz-checkbox formControlName="opsAreaManager">地区运维管理</label>
            <label nz-checkbox formControlName="projectManager">项目运维管理</label>
            <label nz-checkbox formControlName="assistant">运维助理</label>
            <label nz-checkbox formControlName="dataManager">数据管理</label>
            <label nz-checkbox formControlName="support">技术支持</label>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </form>
</nz-modal>
<!-- 修改数据 -->
<nz-modal nzMask="false" nzWidth="800px" [(nzVisible)]="modifyDataModal" nzTitle="修改" [nzOkLoading]="isOkLoading"
  (nzOnCancel)="modifyDataModal=false" (nzOnOk)="handleData(2)">
  <form *ngIf="modifyDataModal" nz-form [formGroup]="modifyDataForm" (ngSubmit)="handleData(2)" role="form">
    <nz-row>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="6">用户账户</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="username" placeholder="请输入用户账户">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm1('username').dirty && validateForm1('username').hasError('required')">
              请输入用户账户</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="6">用户昵称</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="nickname" placeholder="请输入用户昵称">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm1('nickname').dirty && validateForm1('nickname').hasError('required')">
              请输入用户昵称</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6">手机号码</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="mobile" placeholder="请输入手机号">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm1('mobile').dirty && validateForm1('mobile').hasError('required')">
              请输入手机号
            </nz-form-explain>
            <nz-form-explain *ngIf="validateForm1('mobile').dirty && validateForm1('mobile').hasError('pattern')">
              手机号格式不正确
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <!-- <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6">部门</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-cascader nzSize="large" [nzOptions]="meatData.deps" formControlName="deptKey" nzPlaceHolder="请选择部门">
            </nz-cascader>
            <nz-form-explain *ngIf="validateForm1('deptKey').dirty && validateForm1('deptKey').hasError('required')">
              请选择部门
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col> -->
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="6">职位</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="title" placeholder="请输入职位">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm1('title').dirty && validateForm1('title').hasError('required')">
              请输入职位</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6">企业微信号</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-input-group nzSize="large" nzPrefixIcon="anticon">
              <input nz-input formControlName="wxUserId" placeholder="请输入企业微信号">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm1('wxUserId').dirty && validateForm1('wxUserId').hasError('required')">
              请输入企业微信号</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSm]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="3">角色</nz-form-label>
          <nz-form-control [nzSm]="21">
            <label nz-checkbox formControlName="manager">高级账户</label>
            <label nz-checkbox formControlName="ops">运维人员</label>
            <label nz-checkbox formControlName="opsRegionManager">省级运维管理</label>
            <label nz-checkbox formControlName="opsCityManager">市级运维管理</label>
            <label nz-checkbox formControlName="opsAreaManager">地区运维管理</label>
            <label nz-checkbox formControlName="projectManager">项目运维管理</label>
            <label nz-checkbox formControlName="assistant">运维助理</label>
            <label nz-checkbox formControlName="dataManager">数据管理</label>
            <label nz-checkbox formControlName="support">技术支持</label>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </form>
</nz-modal>

<ng-template #nzSubtitle>
  <nz-breadcrumb nzSeparator=">">
    <span class="CPosition">当前位置 :</span>
    <nz-breadcrumb-item>
      用户管理
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      列表查询
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
