<div class="page_warp" *ngIf="!showDetailPage">
  <nz-page-header [nzSubtitle]="nzSubtitle"> </nz-page-header>
  <nz-card>
    <div class="query_warp">
      <!-- <span>申请人：</span>
      <input class="itemSpace" style="width: 200px" nz-input placeholder="请输入" [(ngModel)]="keywordName" />
      <span>申请站点：</span>
      <nz-select class="itemSpace" nzShowSearch nzServerSearch [nzFilterOption]="nzFilterOption"
        (nzOnSearch)="filterStationList($event)" style="width: 200px" [(ngModel)]="stationId" nzAllowClear
        nzPlaceHolder="请选择">
        <nz-option *ngFor="let item of allStationList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
      </nz-select> -->
      <span>申请时间：</span>
      <nz-range-picker class="itemSpace" [(ngModel)]="dateRange"></nz-range-picker>
      <button nz-button nzType="primary" (click)="search()">查询</button>
      <button nz-button nzType="default" (click)="download()" *ngIf="userInfo.dataManager || userInfo.manager">导出</button>
    </div>
    <nz-table class="table_warp" #basicTable [nzData]="tableData" [nzLoading]="loading" [(nzPageIndex)]="q.pageIndex"
      [(nzTotal)]="q.total" [(nzPageSize)]="q.pageSize" [nzShowSizeChanger]="true" [nzFrontPagination]="false"
      (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)">
      <thead>
        <tr style="position: relative;" appTableScroll>
          <th>序号</th>
          <th>申请人</th>
          <th>申请时间</th>
          <th>需求时间</th>
          <th>申请站点</th>
          <th>审批人</th>
          <th>审批时间</th>
          <th>审批结果</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;index as i">
          <td>{{i + 1 + ((q.pageIndex-1) * q.pageSize)}}</td>
          <td>{{(data.applicant?.nickname)}}</td>
          <td>{{data.apply_date | date:'yyyy-MM-dd'}}</td>
          <td>{{data.require_date}}</td>
          <td>{{data.station}}</td>
          <td>{{data.approver?.nickname}}</td>
          <td>{{data.approve_date | date:'yyyy-MM-dd'}}</td>
          <td>
            <ng-container *ngIf="data.apply_state == 1">待审批</ng-container>
            <ng-container *ngIf="data.apply_state == 2">审批中</ng-container>
            <ng-container *ngIf="data.apply_state == 3">已通过</ng-container>
            <ng-container *ngIf="data.apply_state == 4">已驳回</ng-container>
            <ng-container *ngIf="data.apply_state == 5">已撤销</ng-container>
          </td>
          <td>
            <a (click)="detail(data.id)">查看</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>

<!-- 详情 -->
<div class="page_warp" *ngIf="showDetailPage">
  <nz-page-header (nzBack)="showDetailPage=false" nzBackIcon [nzSubtitle]="nzSubtitleDetail"> </nz-page-header>
  <nz-card>
    <nz-card nzTitle="申请信息">
      <nz-row>
        <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6">申请人</nz-form-label>
            <nz-form-control nzSpan="18">
              {{detailData.applicant?.nickname}}
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6">申请时间</nz-form-label>
            <nz-form-control nzSpan="18">
              {{detailData.apply_date | date:'yyyy-MM-dd'}}
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6">需求时间</nz-form-label>
            <nz-form-control nzSpan="18">
              {{detailData.require_date }}
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6">申请站点</nz-form-label>
            <nz-form-control nzSpan="18">
              {{detailData.station}}
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6">收货电话</nz-form-label>
            <nz-form-control nzSpan="18">
              {{detailData.delivery_phone}}
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <!-- <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6">要求时间</nz-form-label>
            <nz-form-control nzSpan="18">
              111
            </nz-form-control>
          </nz-form-item>
        </nz-col> -->
        <nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6">收货地址</nz-form-label>
            <nz-form-control nzSpan="18">
              {{detailData.delivery_address}}
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </nz-card>
    <nz-card nzTitle="申请详情">
      <nz-table class="table_warp" #detailTable [nzData]="[{}]" nzShowPagination="false">
        <thead>
          <tr>
            <th>序号</th>
            <th>配件名称</th>
            <th>物料编号</th>
            <th>型号</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of detailData.itemList;index as i">
            <td>{{i + 1}}</td>
            <td>{{data.item_name}}</td>
            <td>{{data.material_code}}</td>
            <td>{{data.version}}</td>
            <td>{{data.quantity}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <nz-card nzTitle="备注信息">
      <nz-row>
        <nz-col nzSpan="24">
          {{detailData.description}}
        </nz-col>
      </nz-row>
    </nz-card>
    <nz-card nzTitle="审批信息">
      <nz-row>
        <nz-col nzSpan="24">
          <div class="approval">
            审核结果：
            <ng-container *ngIf="detailData.apply_state == 1">待审批</ng-container>
            <ng-container *ngIf="detailData.apply_state == 2">审批中</ng-container>
            <ng-container *ngIf="detailData.apply_state == 3">已通过</ng-container>
            <ng-container *ngIf="detailData.apply_state == 4">已驳回</ng-container>
            <ng-container *ngIf="detailData.apply_state == 5">已撤销</ng-container>
            <!-- <button nz-button nzType="default" (click)="approvalRecord()">审批</button> -->
          </div>
        </nz-col>
        <!-- <nz-col nzSpan="24">
          <div class="approval">
            物流编号：111
            <button nz-button nzType="default" (click)="appendLogistics()">填写</button>
          </div>
        </nz-col> -->
      </nz-row>
    </nz-card>
  </nz-card>
</div>
<!-- 审批 -->
<!-- <nz-modal nzMask="false" [(nzVisible)]="showApprovalRecord" nzTitle="审批信息" (nzOnCancel)="showApprovalRecord=false"
  (nzOnOk)="submitApprovalRecord()">
  <form *ngIf="showApprovalRecord" nz-form [formGroup]="approvalRecordForm" role="form">
    <nz-form-item>
      <nz-form-label nzRequired nzSpan="6">审核结果</nz-form-label>
      <nz-form-control nzSpan="18" nzErrorTip="请选择">
        <nz-select formControlName="name" nzAllowClear nzPlaceHolder="请选择">
          <nz-option *ngFor="let item of []" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal> -->

<!-- 填写物流编号 -->
<!-- <nz-modal nzMask="false" [(nzVisible)]="showAppendLogistics" nzTitle="物流编号" (nzOnCancel)="showAppendLogistics=false"
  (nzOnOk)="submitAppendLogistics()">
  <form *ngIf="showAppendLogistics" nz-form [formGroup]="appendLogisticsForm" role="form">
    <nz-form-item>
      <nz-form-label nzRequired nzSpan="6">物流编号</nz-form-label>
      <nz-form-control nzSpan="18" nzErrorTip="请输入">
        <input nz-input placeholder="请输入" formControlName="name" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal> -->




<ng-template #nzSubtitle>
  <nz-breadcrumb nzSeparator=">">
    <span class="CPosition">当前位置 :</span>
    <nz-breadcrumb-item>
      物料使用管理
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      配件申请记录
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
<ng-template #nzSubtitleDetail>
  <nz-breadcrumb nzSeparator=">">
    <span class="CPosition">当前位置 :</span>
    <nz-breadcrumb-item>
      物料使用管理
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      配件申请记录
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      详情
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
