<div class="page_warp">
  <nz-card>
    <div class="query_warp">
      <div class="searchItem itemSpace">
        <span>发出时间：</span>
        <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
      </div>

      <div class="searchItem itemSpace">
        <span>省份：</span>
        <nz-select style="width: 200px" [(ngModel)]="orgKey" nzAllowClear nzPlaceHolder="请选择">
          <nz-option *ngFor="let item of regionList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>

      </div>
      <div class="searchItem itemSpace">
        <span>城市：</span>
        <nz-select style="width: 200px" [(ngModel)]="orgKey" nzAllowClear nzPlaceHolder="请选择">
          <nz-option *ngFor="let item of regionList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>

      </div>


      <div class="searchItem itemSpace">
        <span>任务状态：</span>
        <nz-select style="width: 200px" [(ngModel)]="opsTaskDone" nzAllowClear nzPlaceHolder="请选择">
          <nz-option [nzValue]="0" nzLabel="未完成"></nz-option>
          <nz-option [nzValue]="1" nzLabel="完成"></nz-option>
        </nz-select>
      </div>
      <button nz-button nzType="primary" (click)="search()">查询</button>
      <button nz-button nzType="default" (click)="download()">导出</button>
    </div>
    <nz-table class="table_warp" #basicTable [nzData]="tableData" [nzLoading]="loading" [(nzPageIndex)]="q.pageIndex"
      [(nzPageSize)]="q.pageSize">
      <thead>
        <tr style="position: relative;" appTableScroll>
          <th>序号</th>
          <th>合同名称</th>
          <th>合同编号</th>
          <th>全部</th>
          <th>未完成</th>
          <th>已完成</th>
          <th>已终止</th>
          <th>已过期</th>
          <th>未结束</th>
          <th>完成率</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;index as i">
          <td>{{i + 1 + ((q.pageIndex-1) * q.pageSize)}}</td>
          <td>{{data.title}}</td>
          <td>{{data.total}}</td>
          <td>{{data.todo}}</td>
          <td>{{data.done}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>